* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
.navbar {
    background-color: #6a53a1;
    color: white;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

nav a.active {
    background: white;
    color: #6a53a1;
    padding: 5px 12px;
    border-radius: 5px;
}

.profile-btn {
    background: white;
    border: none;
    padding: 8px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}

/* Post Area */
.content-area {
    flex: 1;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.post {
    display: flex;
    gap: 15px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.post-text strong {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    color: #333;
}

.post-text p {
    word-break: break-all;
    line-height: 1.4;
    color: #444;
}

/* Bottom Input Bar */
.reply-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.reply-bar {
    background: white;
    width: 100%;
    max-width: 900px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
}

.reply-bar input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
    color: #888;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    gap: 15px;
    color: #666;
    cursor: pointer;
}

.send-btn {
    background-color: #d1dbbd;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #666;
    cursor: pointer;
    font-weight: bold;
}



.reply-bar textarea,
.reply-bar input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    resize: none;
    background: transparent;
}

.reply-container {
    position: sticky;
    bottom: 0;
    background-color: #f0f0f0;
    padding: 20px 0;
}
