{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apps4U - Помилка сервера</title>

    <link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&family=SN+Pro:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body { font-family: 'SN Pro', sans-serif; }
        .font-logo { font-family: 'Russo One', sans-serif; }
    </style>
</head>
<body class="min-h-screen flex items-center justify-center bg-[#E3EBCF] px-4">
    <div class="bg-white p-12 rounded-3xl shadow-xl max-w-lg w-full text-center border border-gray-100">

        <h1 class="text-6xl font-logo text-[#6B5B95] mb-4">Помилка 500</h1>
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Серверу погано 💀💀💀</h2>
        <img src="{% static 'images/404.gif' %}" class="bg-white rounded-3xl shadow-xl max-w-lg w-full text-center border border-gray-50 mb-4">

        <a href="{% url 'home' %}"
           class="inline-block bg-[#6B5B95] text-white px-8 py-3 rounded-xl font-bold hover:bg-[#5a4d7d] transition-all duration-200 transform shadow-md">
            Повернутися на головну
        </a>
    </div>
</body>
</html>
