{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Apps4U {% endblock %}</title>

    <link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://unpkg.com/lucide@latest"></script>

    <style>
        body { font-family: 'SN Pro', sans-serif; }
        .font-logo {font-family: 'Russo One', sans-serif;}
    </style>
</head>
<body class="min-h-screen flex flex-col bg-white">

    <header class="bg-[#6B5B95] text-white h-16 py-2 px-6 md:px-12 flex items-center justify-between fixed top-0 left-0 w-full z-50">
        <div class="text-3xl tracking-wide font-logo flex-shrink-0">
            <a href="{% url 'home' %}">Apps4U</a>
        </div>

        <div class="flex items-center space-x-4">
            <nav class="hidden md:flex space-x-2">
                <a href="{% url 'course_list' %}" class="px-3 py-1.5 text-sm hover:text-gray-200 transition">Курси</a>
                <a href="{% url 'faq_list' %}" class="px-3 py-1.5 text-sm hover:text-gray-200 transition">FAQs</a>
                <a href="{% url 'petition_list' %}" class="px-3 py-1.5 text-sm hover:text-gray-200 transition">Петиції</a>
                <a href="{% url 'starter_pack' %}" class="px-3 py-1.5 text-sm hover:text-gray-200 transition">Стартерпак</a>
            </nav>

            <div class="flex items-center space-x-4">
                <a href="{% url 'profile' %}" class="group flex items-center">
                    <div class="w-10 h-10 rounded-full overflow-hidden border-2 border-white group-hover:border-[#E0E8D0] transition-colors duration-300">
                        <img src="{{ user.profile.icon.url }}"
                            alt="Profile Picture"
                            class="w-full h-full object-cover">
                    </div>
                </a>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="bg-[#EADDFF] pt-10 pb-12 px-6 md:px-20"><p style="color: gray">З усіма питаннями до адміністраторів звертайтесь в <a href="https://t.me/+wNRo2tjw-g85MWMy"><u>групу телеграм</u></a></p></footer>

</body>
</html>
