{% extends "base.html" %}
{% load static %}
{% block title %}Apps4U - {{ viewed_profile.user.first_name }} {{ viewed_profile.user.last_name }}{% endblock %}
{% block content %}

<main class="flex-grow flex items-center justify-center p-6 pt-24">
<div class="bg-[#E3EBCF] rounded-2xl p-8 md:p-10 shadow-sm max-w-3xl w-full border border-gray-100 relative">
    <div class="flex flex-col md:flex-row gap-8 items-start mb-8">
        <div class="w-32 h-32 md:w-40 md:h-40 rounded-full overflow-hidden border-4 border-white shadow-sm flex-shrink-0">
            <img src="{{ viewed_profile.user.profile.icon.url }}" alt="Profile Picture" class="w-full h-full object-cover">
        </div>

        <div class="flex-grow pt-2">
            <h2 class="text-3xl font-bold text-black mb-6">{{ viewed_profile.user.first_name }} {{ viewed_profile.user.last_name|default:viewed_profile.user.username }}</h2>
            <div class="space-y-2 text-lg text-black">
                <p><span class="font-bold">Курс:</span> {{ viewed_profile.user.profile.get_year_of_study_display |default:"Не вказано" }}</p>
                <p><span class="font-bold">Програма:</span> {{ viewed_profile.user.profile.get_major_display |default:"Не вказано" }}</p>
                <p><span class="font-bold">Email:</span> {{ viewed_profile.user.email }}</p>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <h3 class="text-xl font-bold text-black mb-3">Про себе:</h3>
        <p class="text-gray-800 leading-relaxed text-justify break-words bg-white p-4 rounded-lg border border-gray-200">
            {{ viewed_profile.user.profile.about|linebreaksbr|default:"Користувач ще не додав опис" }}
        </p>
    </div>
    </div>
</main>

<script>lucide.createIcons();</script>

{% endblock %}
